.choose{
    margin-bottom: 20px;
    margin-left: 5px;
}

.choose label{
    float: left;
    display: block;
    margin-right: 10px;
}

.choose select{
    width: auto;
    height: 30px;
    border-radius: 7px;
    font-family:Arial, FontAwesome;
    display: block;
    padding: 0 10px;
    font-size: 13pt;
}