#zatemnenie {
    background: rgba(85, 85, 85, 0.74);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    text-align: center;
}
#okno {
    width: auto;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 15px;
    border: 3px solid rgba(144, 60, 235, 0.45);
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    margin: auto;
    background: #fff;
    z-index: 100;
    display: inline-block;
}

#okno ul{
    text-align: left;
}
#zatemnenie:target {
    display: block;
    z-index: 99;
}
.close {
    margin-top: 13px;
    margin-left: 130px;
    display: inline-block;
    border: 1px solid #0000cc;
    border-radius: 5px;
    color: #0000cc;
    padding: 0 12px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 16px;
    cursor:pointer;
    padding: 5px;
}
.close:hover {background: #e6e6ff;}